<%= form_for(special_offer) do |f| %>
  <% if special_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_offer.errors.count, "error") %> prohibited this special_offer from being saved:</h2>

      <ul>
      <% special_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discount %>
    <%= f.number_field :discount %>
  </div>

  <div class="field">
    <%= f.label :date_from %>
    <%= f.datetime_select :date_from %>
  </div>

  <div class="field">
    <%= f.label :date_to %>
    <%= f.datetime_select :date_to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
