<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order.product.full_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price.round(2) %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @order.payment_status %>
</p>

<%= link_to 'Back', orders_path %>
